
                              <% if data.data_for_path rows %>

                                <% data.send(rows).each_with_index do |row, row_index| %>
                                  <% row_index = row_index + 1 %>    
                                  <% row_id = rows + "-" + row_index.to_s %>
                                  <div class="row-fluid" id="<%= rows %>">

                                    <% if row.layout %>
                                      <%= partial(row.layout.to_sym, :locals => { :content => row.content }) %>
                                    <% else %>
                                      <%= partial(:one_col, :locals => { :content => row.content }) %>
                                    <% end %>

                                  </div><!-- eo <%= row_id %> -->
                                <% end %>

                              <% end %>
